/* /Pages/Admin/Categories.razor.rz.scp.css */

.header[b-5vp81raq68] {
    display: flex;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 6px;
    padding-bottom: 6px;
}

.row[b-5vp81raq68] {
    display:flex;
    padding: 6px;
}

.col[b-5vp81raq68] {
    flex: 1;
}

.col-visible[b-5vp81raq68] {
    text-align: center;
}
/* /Pages/Admin/ProductTypes.razor.rz.scp.css */
.row[b-ei1p31k9pj] {
    display: flex;
    padding: 6px;
}

.col[b-ei1p31k9pj] {
    flex: 1;
}
/* /Pages/Cart.razor.rz.scp.css */
.container[b-6j08isvs0a] {
    display: flex;
    padding: 6px;
}

image-wrapper[b-6j08isvs0a] {
    width: 150px;
    text-align: center;
}

.image[b-6j08isvs0a] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.name[b-6j08isvs0a] {
    flex-grow: 1;
    padding: 6px;
}

.cart-product-price[b-6j08isvs0a] {
    font-weight: 600;
    text-align: center;
}

.input-quantity[b-6j08isvs0a] {
    width: 70px;

}
/* /Pages/OrderDetails.razor.rz.scp.css */
.container[b-zlq4s21n9m] {
    display: flex;
    padding: 6px;
}

.image-wrapper[b-zlq4s21n9m] {
    width: 150px;
    text-align: center;
}

.image[b-zlq4s21n9m] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.name[b-zlq4s21n9m] {
    flex-grow: 1;
    padding: 6px;
}

.product-price[b-zlq4s21n9m] {
    font-weight: 600;
    text-align: center;
}
/* /Pages/Orders.razor.rz.scp.css */
.container[b-yzufzu20ue] {
    display: flex;
    padding: 6px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 6px;
    margin-bottom: 10px;

}

.image-wrapper[b-yzufzu20ue] {
    width: 150px;
    text-align: center;
}

.image[b-yzufzu20ue] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.details[b-yzufzu20ue] {
    flex-grow: 1;
    padding: 6px;
}

.order-price[b-yzufzu20ue] {
    font-weight: 600;
    font-size: 1.2em;
    text-align: right;
}
/* /Pages/ProductDetails.razor.rz.scp.css */
.media-img[b-dry039jwmw] {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper[b-dry039jwmw] {
    width: 500px;
    height: 500px;
    text-align: center;
}


@media (max-width: 1023.98.px) {
    .media[b-dry039jwmw] {
        flex-direction: column;
    }

    .media-img[b-dry039jwmw] {
        max-width: 300px;
    }

    .media-img-wrapper[b-dry039jwmw] {
        width: 100%;
        height: auto;
    }
}

/* /Shared/AdminMenu.razor.rz.scp.css */
.top-row a[b-agxg8l78ct] {
    margin-left: 0 !important;
}

.dropdown-item:hover[b-agxg8l78ct] {
    background-color: white;
    text-decoration: none;
}
/* /Shared/FeaturedProducts.razor.rz.scp.css */
.container[b-t6z4lgig3y]
{
    display:flex;
    flex-direction: row;
    overflow: auto;
    justify-content: center;
}

img[b-t6z4lgig3y] {
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    transition: transform .2s;
    margin-bottom: 10px;
}

    img:hover[b-t6z4lgig3y] {
        transform: scale(1,1) rotate(5deg);
    }

.featured-product[b-t6z4lgig3y] {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 200px;
}

@media (max-width: 1023.98px) {
    .container[b-t6z4lgig3y] {
        justify-content: flex-start;
    }
}
/* /Shared/HomeButton.razor.rz.scp.css */
.home-button[b-hn4c8xztkb]{
    white-space:nowrap;
    margin-right: 10px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-w0s6mpvf8v] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-w0s6mpvf8v] {
    flex: 1;
}

.sidebar[b-w0s6mpvf8v] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-w0s6mpvf8v] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-w0s6mpvf8v]  a, .top-row[b-w0s6mpvf8v]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-w0s6mpvf8v]  a:hover, .top-row[b-w0s6mpvf8v]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-w0s6mpvf8v]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-w0s6mpvf8v] {
        display: none;
    }

    .top-row.auth[b-w0s6mpvf8v] {
        justify-content: space-between;
    }

    .top-row[b-w0s6mpvf8v]  a, .top-row[b-w0s6mpvf8v]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-w0s6mpvf8v] {
        flex-direction: row;
    }

    .sidebar[b-w0s6mpvf8v] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-w0s6mpvf8v] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-w0s6mpvf8v]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-w0s6mpvf8v], article[b-w0s6mpvf8v] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-04npj89462] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-04npj89462] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-04npj89462] {
    font-size: 1.1rem;
}

.oi[b-04npj89462] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-04npj89462] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-04npj89462] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-04npj89462] {
        padding-bottom: 1rem;
    }

    .nav-item[b-04npj89462]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-04npj89462]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-04npj89462]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-04npj89462] {
        display: none;
    }

    .collapse[b-04npj89462] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/ProductList.razor.rz.scp.css */
.media-img[b-tsdrm59xcm]{
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

    .media-img:hover[b-tsdrm59xcm]{
        transform: scale(1.1);
    }


.media-img-wrapper[b-tsdrm59xcm] {
    width: 200px;
    text-align: center;
}

.page-selection[b-tsdrm59xcm] {
    margin-right: 15px;
    margin-bottom: 30px;
}


@media (max-width: 1023.98px) {
    .media[b-tsdrm59xcm] {
        flex-direction: column;
    }

    .media-img-wrapper[b-tsdrm59xcm] {
        width: 100%;
        height: auto;
    }
}

/* /Shared/ShopLayout.razor.rz.scp.css */
.page[b-ckyvx6ltjf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ckyvx6ltjf] {
    flex: 1;
}

.nav-menu[b-ckyvx6ltjf] {
    background-image: linear-gradient(180deg, rgb(44, 62, 80) 0%, rgb(52, 73, 94) 70%);
}

.top-row[b-ckyvx6ltjf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ckyvx6ltjf]  a, .top-row[b-ckyvx6ltjf]  .btn-link {
        white-space: nowrap;
        margin-left: .5rem;
        text-decoration: none;
    }

    .top-row[b-ckyvx6ltjf]  a:hover, .top-row[b-ckyvx6ltjf]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-ckyvx6ltjf]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {

    .top-row.auth[b-ckyvx6ltjf] {
        justify-content: space-between;
    }

    .top-row[b-ckyvx6ltjf]  a, .top-row[b-ckyvx6ltjf]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ckyvx6ltjf] {
        flex-direction: row;
    }


    .top-row[b-ckyvx6ltjf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ckyvx6ltjf]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ckyvx6ltjf], article[b-ckyvx6ltjf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/ShopNavMenu.razor.rz.scp.css */
.navbar-toggler[b-9tmxtxqoks] {
    color: rgba(255, 255, 255, 0.1);
}

.top-row[b-9tmxtxqoks] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-9tmxtxqoks] {
    font-size: 1.1rem;
}

.oi[b-9tmxtxqoks] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9tmxtxqoks] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

    .nav-item[b-9tmxtxqoks]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-9tmxtxqoks]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-9tmxtxqoks]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.flex-nav[b-9tmxtxqoks]{
    flex-direction: column;
}

@media (min-width: 641px) {
    .navbar-toggler[b-9tmxtxqoks], .navbar-toggler-wrapper[b-9tmxtxqoks] {
        display: none;
    }

    .flex-nav[b-9tmxtxqoks] {
        flex-direction: row;
        display: flex;
    }

    .collapse[b-9tmxtxqoks] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/UserButton.razor.rz.scp.css */
.show-menu[b-tio4oxn6ei] {
    display: block;
}

.user-button[b-tio4oxn6ei] {
    margin-left: .5em;
}

.top-row a[b-tio4oxn6ei] {
    margin-left: 0;
}

.dropdown-item:hover[b-tio4oxn6ei] {
    background-color: white;
    text-decoration: none;
}
