.show-menu[b-tio4oxn6ei] {
    display: block;
}

.user-button[b-tio4oxn6ei] {
    margin-left: .5em;
}

.top-row a[b-tio4oxn6ei] {
    margin-left: 0;
}

.dropdown-item:hover[b-tio4oxn6ei] {
    background-color: white;
    text-decoration: none;
}